    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Turtle Facts and Quiz</title>
        <!-- Bootstrap css and my own css -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!--<link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
            crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <link rel="stylesheet" href="css/style.css">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body ng-app="turtleFacts">

        <div class="container">
            <div class="page-header">
                <h1>Turtle Facts Quiz</h1>
                <h3>
                    Learn about all the turtles below before you decide to take on the 
                    <strong>TURTLE QUIZ</strong>
                </h3>
            </div>
            <!-- List controller -->
            <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive">
                <form class="form-inline well well - sm clearfix">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="text" placeholder="Search" class="form-control" ng-model="list.search">
                    <button class="btn btn-warning pull-right" ng-click="list.activateQuiz()">
                        <strong>Start Quiz</strong></button>
                </form>
                <div class="row">
                    <div class="col-sm-6" ng-repeat="turtle in list.data | filter:list.search">
                        <div class="well well -sm">
                            <div class="row">
                                <div class="col-md-6">
                                    <img ng-src="{{turtle.image_url}}" class="img-rounded img-responsive well-image">
                                </div>
                                    <div class="col-md-6">
                                    <h4>{{turtle.type}}</h4>
                                    <p><strong>Location: </strong>{{turtle.locations}}</p>
                                    <p><strong>Size: </strong>{{turtle.size}}</p>
                                    <p><strong>Lifespan: </strong>{{turtle.lifespan}}</p>
                                    <p><strong>Diet: </strong>{{turtle.diet}}</p>
                                    <button class="btn btn-primary pull-right" 
                                        data-toggle="modal" 
                                        data-target="#turtle-info" 
                                        ng-click="list.changeActiveTurtle(turtle)">Learn More</button>
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
                     <div class="modal fade" id="turtle-info" role="dialog" >
                         <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2>{{list.activeTurtle.type}}</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <img ng-src="{{list.activeTurtle.image_url}}" class="img-rounded img-responsive">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Locations: </strong>{{list.activeTurtle.locations}}</p>
                                <p><strong>Size: </strong>{{list.activeTurtle.size}}</p>
                                <p><strong>Average Lifespan: </strong>{{list.activeTurtle.lifespan}}</p>
                                <p><strong>Diet: </strong>{{list.activeTurtle.diet}}</p>
                            </div>
                        <div class="col-xs-12">
                            <p>{{list.activeTurtle.description}}</p>
                             <Button class="btn btn-primary pull-right" data-dismiss="modal">Close</Button> 
                        </div>
                            <div class="modal-footer">
                               
                            </div>
                    </div>
                        </div>
                </div>
                            
                </div>
                         
            </div>
            </div>
           
            <!-- Quiz controller -->
            <div ng-controller="quizCtrl as quiz" ng-show = "quiz.quizMetrics.quizActive">
                <div class="row">
                    <div class="col-xs-8">
                        <h4>Progress:</h4>
                        <div class="btn-toolbar">
                            <button class="btn"
                                    ng-repeat = "question in quiz.DataService.quizQuestions"
                                    ng-class = "{'btn-info':question.selected !== null, 
                                                'btn-danger':question.selected === null}"
                                    ng-click = "quiz.setActiveQuestion($index)">
                            <span class="glyphicon" 
                                  ng-class = "{'glyphicon-pencil': question.selected !== null,
                                              'glyphicon-question-sign': question.selected === null}">
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <h4>Legend:</h4>
                            <div class="col-sm-4">
                                <button class="btn btn-info">
                                    <span class="glyphicon glyphicon-pencil">
                                    </span>
                                    </button>
                                <p>Answered</p>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-question-sign">
                                    </span>
                                    </button>
                                <p>Unanswered</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Progress area -->
                <div class="row">
                    <div class="alert alert-danger"
                         ng-show = "quiz.error">
                        Error! You have not answered all questions.
                        <button class="close" ng-click = "quiz.error = false">&times;</button>
                    </div>
                    <h3>Question:</h3>
                    <div class="well well-sm" ng-hide = "quiz.finalize">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>{{quiz.activeQuestion+1+". "+quiz.DataService.quizQuestions[quiz.activeQuestion].text}}</h4>
                            </div>
                            <div class="row" ng-if="quiz.DataService.quizQuestions[quiz.activeQuestion].type === 'text'">
                                <div class="col-sm-6" ng-repeat = "answer in quiz.DataService.quizQuestions[quiz.activeQuestion].possibilities">
                                    <h4 class="answer"
                                        ng-class="{'bg-info': $index === quiz.DataService.quizQuestions[quiz.activeQuestion].selected}"
                                        ng-click = "quiz.selectAnswer($index)">
                                        {{answer.answer}}
                                    </h4>
                                </div>
                            </div>
                            <div class="row" ng-if = "quiz.DataService.quizQuestions[quiz.activeQuestion].type === 'image'">
                                <div class="col-sm-6" ng-repeat = "answer in quiz.DataService.quizQuestions[quiz.activeQuestion].possibilities">
                                    <div class="image-answer" ng-class="{'image-selected': $index === quiz.DataService.quizQuestions[quiz.activeQuestion].selected}"
                                        ng-click = "quiz.selectAnswer($index)">
                                        <img ng-src="{{answer.answer}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-warning" ng-click="quiz.questionAnswered()">
                        Continue
                    </button>
                    </div>
                    <div class="well well-sm" ng-show = "quiz.finalize">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Are you sure to submit answeres?</h3>
                                <button class="btn btn-success" ng-click = "quiz.finalizeAnswers()">Yes</button>
                                <button class="btn btn-danger" ng-click ="quiz.finalize = false">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="controllers/app.js"></script>
        <script src="controllers/list.js"></script>
        <script src="controllers/quiz.js"></script>
        <script src="factories/quizMetrics.js"></script>
        <script src="factories/dataservice.js"></script>
        <script src="css/style.css"></script>
    </body>
    </html>